* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text-btn:hover {
  cursor: pointer;
}

.primary-btn {
  max-width: 300px;
  width: 100%;
  min-height: 54px;
  font-size: 24px;
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  display: block;
}

.btn-blue {
  background-color: #4472CA;
  color: white;
}

.btn-gray {
  background-color: #8D918B;
  color: white;
}

.btn--centered {
  margin: 0 auto;
}

.login-page-container {
  background-image: url("./assets/bg-court.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.login-form {
  max-width: 800px;
  width: 100%;
  display: grid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  row-gap: 20px;
  text-align: center;
}
.login-form > * {
  justify-self: center;
  width: 100%;
}
.login-form > input {
  max-width: 50%;
  min-height: 35px;
  font-size: 20px;
  padding: 2px;
  text-align: center;
  border: none;
  box-shadow: 0 0 1px;
}
.login-form > input:focus-visible {
  outline: none;
  box-shadow: 0 0 5px gray;
}
.login-form__forgot-pass {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.umpire-page-container {
  min-height: 100vh;
  background-image: url("./assets/bg-court-umpire.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.umpire-page--dark {
  background-color: black;
}

.umpire-page--lite {
  background-color: #F15025;
}

.umpire-login-page-container {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 25px;
}

.umpire-login-form {
  display: grid;
  width: 100%;
  row-gap: 20px;
}
.umpire-login-form > div {
  display: grid;
  justify-items: left;
  row-gap: 10px;
}
.umpire-login-form > div > input {
  width: 100%;
  min-height: 50px;
  border-radius: 12px;
  background-color: #8D918B;
  border: 1px solid #4472CA;
  padding: 5px;
  font-size: 16px;
  color: white;
}
.umpire-login-form > div > input:focus-visible {
  outline: none;
  box-shadow: 0 0 15px #4472CA;
}
.umpire-login-form__login {
  justify-self: center;
}

.umpire-menu {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}
.umpire-menu > * {
  margin: 0 auto;
  margin-bottom: 30px;
}

.match-setup-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 20px 25px;
}

.match-select {
  width: 100%;
  text-align: center;
  min-height: 50px;
  font-size: 23px;
  background: #8D918B;
  color: white;
  border-radius: 11px;
}

.info--gray-btn {
  width: 100%;
  text-align: center;
  min-height: 50px;
  font-size: 23px;
  background: #8D918B;
  color: white;
  border-radius: 11px;
  padding: 9px;
}

.match-setup__player {
  display: grid;
  row-gap: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.match-setup__player > div {
  display: flex;
  justify-content: space-between;
}

.match-setup__player-position, .match-setup__first-server {
  text-transform: uppercase;
}
.match-setup__player-position > *:not(:last-child), .match-setup__first-server > *:not(:last-child) {
  margin-right: 10px;
}
.match-setup__player-position > input[name=position], .match-setup__player-position > input[name=serve], .match-setup__first-server > input[name=position], .match-setup__first-server > input[name=serve] {
  margin-right: 5px;
}/*# sourceMappingURL=App.css.map */